/* DISPOSITIVOS MÉDIOS */
@media screen and (max-width: 970px) {
  /* TOPBAR */
  .topbar-bg {
    display: none;
  }

  /* NAVBAR */

  .navbar {
    padding: 20px;
    margin: 0;
  }

  .navbar .menu-icon {
    display: block;
    border-radius: 5px;
    position: relative;
    z-index: 1199;
  }

  .navbar .menu-icon:hover {
    cursor: pointer;
    background: #ffe21a;
  }

  .navbar .links-list {
    height: 0;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1000;
  }

  .navbar .links-list.ativo {
    height: 100vh;
    display: block;
    z-index: 1000;
  }

  .navbar .links-list ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 80px auto;
    text-align: center;
    transition: 0.5s;
  }
  .navbar .links-list ul li a {
    display: block;
    background: #ffe21a;
    border-radius: 5px;
  }

  .navbar .links-list ul li a:hover {
    color: initial;
  }

  .navbar .links-list ul li + li a {
    margin-top: 10px;
  }

  /* HEADER */
  .header {
    margin: 0 20px;
  }
  /* CARDS */
  .cards {
    grid-template-columns: auto;
    justify-content: center;
  }

  .cards .qualidade-card {
    width: auto;
    margin: 0 100px;
  }

  /* SERVIÇOS */
  .servicos {
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    gap: 20px;
  }

  .servicos span {
    margin-top: -20px;
  }

  /* CALLER */
  .caller {
    flex-direction: column;
    padding-bottom: 60px;
    text-align: center;
  }

  /* FOOTER */
  .footer {
    max-width: 600px;
    margin: 0 20px;
  }
}

@media screen and (max-width: 640px) {
  /* HEADER */
  .header a {
    font-size: 1em;
    width: 260px;
  }
  /* CARDS */

  .cards .qualidade-card {
    width: auto;
    margin: 0 20px;
  }

  /* SERVIÇOS */
  .servicos {
    grid-template-columns: 300px;
  }

  /* CALLER */
  .caller {
    margin: 0 20px;
  }

  /* FOOTER */
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer img {
    margin: 0 auto;
  }

  .footer .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
