.topbar-bg {
  width: 100%;
  background: #ffe21a;
}

.topbar {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}

.topbar .phone-top {
  text-decoration: underline;
}

.topbar li {
  display: inline-block;
}

.topbar li a {
  display: block;
  padding: 10px;
}

.topbar li a:hover svg path {
  fill: white;
}
